body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header {
  margin: 0;
  padding: 0;
  height: 10%;
  overflow: hidden;
  background-color: #333;
}
header ul {
  list-style-type: none;
}
header ul li {
  float: left;
}
header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header ul li a:hover:not(.active) {
  background-color: #111;
}
header ul li.active {
  background-color: #04aa6d;
}
header ul:nth-child(2) {
  float: right;
  margin: 0;
  padding: 0;
}
header ul:nth-child(2) li:hover:not(.active) {
  background-color: #111;
}

div.title{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 2%;
  padding: 0;
  background-color: rgb(192, 255, 192);

}

h1 {
  margin: 0;
}

table {
  margin: 1% auto;
  width: 90%;
  text-align: left;
}
table, th, td {
  /* border: 1px solid black; */
  border-collapse: collapse;
  padding: 1rem;
}
th.edit, th.delete {
  width: 10%;
}

tr:nth-child(even) {
  background-color:#dadada;
}
th {
  background-color: rgb(121, 121, 121);
}

button.addLeverancier {
  float: right;
  padding: 1rem;
  margin-right: 6rem;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
}
a:active {
  color: black;
}

.edit {
  color: blue;
}
.delete {
  color: red;
}

.message {
  display: flex;
  justify-content:center;
  align-items: center;
}

.input, .buttons, .telmessage{
  width: 25%;
  margin: .5rem auto;
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 16px;
}

input {
  width: 70%;
}

table.filter {
  width: 10%; 
  margin: 0% 5%; 
  float: right;
}

/* KlantDetail page grid styling */
.grid-container {
  display: grid;
  width: 40%;
  margin: 3% auto;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  border: 1px solid black;
}

.grid-item {
  padding-left: 1rem;
  border: 1px solid black;
}
h5 {
  margin: 3%;
}

p {
  margin: 3%;
}
.klnt_btn {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  text-decoration: none; /* Remove underline from anchor tags */
}

.telmessage{
  display: flex;
  justify-content: flex-end;
  height: 5%;
  width: 50%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right:40%;
  padding: 0;
}
div.postmessage {
  position: static;
  height: 5%;
  width: 20%;
  margin: 0% 0% 0% 45%;
  padding: 0;
}
.txt_message{
  margin: 0;
}